<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Tourist Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<link rel="stylesheet"
	href="https://formden.com/static/cdn/bootstrap-iso.css" />
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<!-- <script type="text/javascript" src="postTouristEdit.js"></script> -->

</head>
<body>

	<div id="PostResultDiv"></div>
	

	<div class="myForm">
		<form id="touristFormEdit" method="POST" class="was-validated" th:action="@{/editTourist}" th:object="${touristToEdit}">
		<div class="form-group">
					<input type="hidden" class="form-control" id="id" th:field=*{id}/>
			</div>
			<div class="form-group">
				<label for="firstName">First Name:</label> <input type="text"
					class="form-control" id="firstName" placeholder="Enter first name"
					th:field=*{firstName} required />
				<div class="valid-feedback">Valid.</div>
				<div class="invalid-feedback">Please fill out this field.</div>
			</div>
			<div class="form-group">
				<label for="lastName">Last Name:</label> <input type="text"
					class="form-control" id="lastName" placeholder="Enter last name"
					th:field=*{lastName} required/>
				<div class="valid-feedback">Valid.</div>
				<div class="invalid-feedback">Please fill out this field.</div>
			</div>
			<div class="form-group">
				<label for="gender" class="col-sm-2 control-label">Select
					gender:</label>
				<div class="col-sm-2">
					<select class="form-control" th:field="*{gender}" id="gender">
						<option th:value="'M'" th:text="Male">Male</option>
						<option th:value="'F'" th:text="Female">Female</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="gender" class="col-sm-2 control-label">Select
					country:</label>
				<div class="col-sm-2">
					<select class="form-control" th:field="${countries}" id="country">
						<option value="0">Select country:</option>
						<option th:each="country : ${countries}" th:value="${country}"
							th:text="${country}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="notes">Notes:</label>
				<textarea class="form-control" th:field="*{notes}" rows="5" id="notes"></textarea>
			</div>
			<div class="form-group">
				<!-- Date input -->
				<label class="control-label" for="date">Date</label> <input
					class="form-control" id="date" name="date" placeholder="MM/DD/YYY"
					type="text" value=""/>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

</body>
</html>